{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

        <p>[{{ post.date | date: '%Y'}}] <b>{{ post.title }}</b> &mdash; <i>{{ post.authors }}</i>
            <br>
            Published at {{ post.venue }}. <a href=" {{ post.paperurl }} " onclick="ga('send','event','Clicks','Paper download',' {{ post.title }}', 0)"><u>Preprint</u></a>. 
            {{#if post.slidesurl}} <a href=" {{ post.slidesurl }} " onclick="ga('send','event','Clicks','Slides download',' {{ post.title }}', 0)"><u>Slides</u></a>. {{/if}}
            {{#if post.repourl}} <a href=" {{ post.repourl }} " onclick="ga('send','event','Clicks','Repo url',' {{ post.title }}', 0)"><u>Repository</u></a>. {{/if}}
        </p>

    </article>
  </div>
  